body {    
    font-family: Arial,sans-serif;
    color: #c51616;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;

}

header {

background-color: #d6840a;

color: rgb(6, 180, 49);

padding: 20px;

text-align: center;

}


header h1 {

margin: 0;

}


nav a {

color: rgb(255, 255, 255);

text-decoration: none;

margin: 0 10px;

}


nav a:hover {

text-decoration: underline;

}

main {

padding: 20px;

max-width: 800px;

margin: 0 auto;

}


main img {

max-width: 100%;

height: auto;

display: block;

margin: 20px 0;

}

footer {

background-color: #db1e1e;

color: rgb(42, 23, 206);

text-align: center;

padding: 10px;

position: fixed;

bottom: 0;

width: 100%;

}